ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    transition: 1s;
    text-decoration: underline;
}
li a:hover:not(.active) {
    background-color: #9013FE;
}
